/****** Object:  Database [dbViking]    Script Date: 10/03/2015 23:06:04 ******/
CREATE DATABASE [dbViking] ON  PRIMARY 
( NAME = N'dbViking', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\dbViking.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbViking_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\dbViking_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbViking].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 10/03/2015 23:06:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblUser](
	[fldID] [int] IDENTITY(1,1) NOT NULL,
	[fldName] [varchar](50) NOT NULL,
	[fldUser] [varchar](20) NOT NULL,
	[fldPassword] [varchar](20) NOT NULL,
 CONSTRAINT [PK_tblUser] PRIMARY KEY CLUSTERED 
(
	[fldID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblUser] ON
INSERT [dbo].[tblUser] ([fldID], [fldName], [fldUser], [fldPassword]) VALUES (1, N'Admin', N'admin', N'admin')
INSERT [dbo].[tblUser] ([fldID], [fldName], [fldUser], [fldPassword]) VALUES (2, N'Soren', N'soren', N'password')
INSERT [dbo].[tblUser] ([fldID], [fldName], [fldUser], [fldPassword]) VALUES (3, N'Iuliana', N'iuliana', N'password')
SET IDENTITY_INSERT [dbo].[tblUser] OFF
/****** Object:  Table [dbo].[tblSubject]    Script Date: 10/03/2015 23:06:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblSubject](
	[fldSubID] [int] IDENTITY(1,1) NOT NULL,
	[fldTitle] [varchar](50) NOT NULL,
	[fldText] [varchar](max) NOT NULL,
	[fldImage] [varchar](70) NULL,
 CONSTRAINT [PK_tblSubject] PRIMARY KEY CLUSTERED 
(
	[fldSubID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblSubject] ON
INSERT [dbo].[tblSubject] ([fldSubID], [fldTitle], [fldText], [fldImage]) VALUES (10, N'testimg', N'imgagetest', N'20150821_110715_1510032107061823.jpg')
INSERT [dbo].[tblSubject] ([fldSubID], [fldTitle], [fldText], [fldImage]) VALUES (11, N'jaaa', N'dasdad', N'20150821_104255_1510032234086978.jpg')
INSERT [dbo].[tblSubject] ([fldSubID], [fldTitle], [fldText], [fldImage]) VALUES (12, N'new image', N'testing', N'20150819_115407_1510032223077302.jpg')
SET IDENTITY_INSERT [dbo].[tblSubject] OFF
/****** Object:  Table [dbo].[tblInfo]    Script Date: 10/03/2015 23:06:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblInfo](
	[fldInfoID] [int] IDENTITY(1,1) NOT NULL,
	[fldOpen] [varchar](150) NOT NULL,
	[fldAddress] [varchar](30) NOT NULL,
	[fldZip] [varchar](30) NOT NULL,
	[fldEmail] [varchar](50) NOT NULL,
	[fldWeb] [varchar](30) NOT NULL,
 CONSTRAINT [PK_tblInfo] PRIMARY KEY CLUSTERED 
(
	[fldInfoID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
